@tailwind base;
@tailwind components;
@tailwind utilities;

.sub-menu li {
  padding-left: 0;
  text-align: left;
}

#qv-stage-container #single-object #grid-wrap #grid #content {
  background-color: red !important;
}